DEXI/flows/flows.json
[
    {
        "id": "041aa9b138cce992",
        "type": "tab",
        "label": "LED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88c60b2a21ce80f4",
        "type": "tab",
        "label": "Laser",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e8af07eb679d708",
        "type": "tab",
        "label": "IR Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ba87b53d42c5cd0",
        "type": "tab",
        "label": "Camera",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70cd061dbb6946e5",
        "type": "ros2-websocket-server",
        "url": "ws://192.168.4.1:9090"
    },
    {
        "id": "8f6299217ae2fc06",
        "type": "ui_tab",
        "name": "Horsepower Iceman",
        "icon": "Tab 1",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4144e60cdf1d4440",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094ce",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0080ff",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0080ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0080ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4da6ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0080ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ec22e3e32d6c2fb",
        "type": "ui_group",
        "name": "IR Sensor",
        "tab": "8f6299217ae2fc06",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86289da270beea9b",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "8f6299217ae2fc06",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bfcdf6ea703759be",
        "type": "ui_group",
        "name": "Laser",
        "tab": "8f6299217ae2fc06",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69acf823d2e62450",
        "type": "ui_group",
        "name": "Camera Stream",
        "tab": "8f6299217ae2fc06",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ae24e244747ecc1",
        "type": "inject",
        "z": "041aa9b138cce992",
        "name": "green led",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 280,
        "wires": [
            [
                "54379e4881ae5fcb"
            ]
        ]
    },
    {
        "id": "54379e4881ae5fcb",
        "type": "led",
        "z": "041aa9b138cce992",
        "name": "",
        "color": "green",
        "x": 790,
        "y": 280,
        "wires": [
            [
                "4115696c8d3095b6"
            ]
        ]
    },
    {
        "id": "4115696c8d3095b6",
        "type": "ros2-service-call",
        "z": "041aa9b138cce992",
        "server": "70cd061dbb6946e5",
        "x": 1020,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "386f2d09ebe396fa",
        "type": "inject",
        "z": "041aa9b138cce992",
        "name": "red led",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 360,
        "wires": [
            [
                "6730ce110402d227"
            ]
        ]
    },
    {
        "id": "6730ce110402d227",
        "type": "led",
        "z": "041aa9b138cce992",
        "name": "",
        "color": "red",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "4115696c8d3095b6"
            ]
        ]
    },
    {
        "id": "dba37ed07e262b7e",
        "type": "inject",
        "z": "041aa9b138cce992",
        "name": "blue led",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 440,
        "wires": [
            [
                "88589ed5def95974"
            ]
        ]
    },
    {
        "id": "88589ed5def95974",
        "type": "led",
        "z": "041aa9b138cce992",
        "name": "",
        "color": "blue",
        "x": 790,
        "y": 440,
        "wires": [
            [
                "4115696c8d3095b6"
            ]
        ]
    },
    {
        "id": "ae1eaf248a479933",
        "type": "ui_button",
        "z": "041aa9b138cce992",
        "name": "",
        "group": "86289da270beea9b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "green",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "54379e4881ae5fcb"
            ]
        ]
    },
    {
        "id": "869f27533a7959e4",
        "type": "ui_button",
        "z": "041aa9b138cce992",
        "name": "",
        "group": "86289da270beea9b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "red",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "6730ce110402d227"
            ]
        ]
    },
    {
        "id": "d11d37d4df5b396d",
        "type": "ui_button",
        "z": "041aa9b138cce992",
        "name": "",
        "group": "86289da270beea9b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "blue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 400,
        "wires": [
            [
                "88589ed5def95974"
            ]
        ]
    },
    {
        "id": "ad904b24edaa8c9a",
        "type": "inject",
        "z": "041aa9b138cce992",
        "name": "white led",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 200,
        "wires": [
            [
                "676085a1f1614a75"
            ]
        ]
    },
    {
        "id": "676085a1f1614a75",
        "type": "led",
        "z": "041aa9b138cce992",
        "name": "",
        "color": "white",
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "df7f56f938b68557",
        "type": "ui_button",
        "z": "041aa9b138cce992",
        "name": "",
        "group": "86289da270beea9b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "white",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 160,
        "wires": [
            [
                "676085a1f1614a75"
            ]
        ]
    },
    {
        "id": "f295116bfe538c4f",
        "type": "inject",
        "z": "041aa9b138cce992",
        "name": "LED off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "7ed2283c6789f700"
            ]
        ]
    },
    {
        "id": "7ed2283c6789f700",
        "type": "led",
        "z": "041aa9b138cce992",
        "name": "",
        "color": "black",
        "x": 790,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fda8812da8ed8aac",
        "type": "ui_button",
        "z": "041aa9b138cce992",
        "name": "",
        "group": "86289da270beea9b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 480,
        "wires": [
            [
                "7ed2283c6789f700"
            ]
        ]
    },
    {
        "id": "6de0ed27705a8adb",
        "type": "ui_button",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "group": "bfcdf6ea703759be",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Laser On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "66250426d8763936"
            ]
        ]
    },
    {
        "id": "1d841446b357db92",
        "type": "ui_button",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "group": "bfcdf6ea703759be",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Laser Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "1691fd15c0cece96"
            ]
        ]
    },
    {
        "id": "66250426d8763936",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "10c9e0f7308a21f4"
            ]
        ]
    },
    {
        "id": "1691fd15c0cece96",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "10c9e0f7308a21f4"
            ]
        ]
    },
    {
        "id": "de984479bb0665cf",
        "type": "ui_button",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "group": "bfcdf6ea703759be",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "5 Burst",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "7531f5641ed6b246"
            ]
        ]
    },
    {
        "id": "7531f5641ed6b246",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "87ac6289e7a01d6c"
            ]
        ]
    },
    {
        "id": "87ac6289e7a01d6c",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "7b8058834865909f"
            ]
        ]
    },
    {
        "id": "7b8058834865909f",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "0f4ad2cedf3b5847"
            ]
        ]
    },
    {
        "id": "0f4ad2cedf3b5847",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "5b40c84b4fede345"
            ]
        ]
    },
    {
        "id": "5b40c84b4fede345",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "6f950adfaa65bde0"
            ]
        ]
    },
    {
        "id": "6f950adfaa65bde0",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "bcb8d7364ee22d08"
            ]
        ]
    },
    {
        "id": "bcb8d7364ee22d08",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "2f21fbc35121e097"
            ]
        ]
    },
    {
        "id": "2f21fbc35121e097",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "c9e19f0ef07a49ac"
            ]
        ]
    },
    {
        "id": "38f537a1b0612874",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "7efdabe58774e151"
            ]
        ]
    },
    {
        "id": "7efdabe58774e151",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 560,
        "y": 720,
        "wires": [
            [
                "bb80de6f7bc3ddb4"
            ]
        ]
    },
    {
        "id": "bb80de6f7bc3ddb4",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "5c6f34f52c37f401"
            ]
        ]
    },
    {
        "id": "5c6f34f52c37f401",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 560,
        "y": 800,
        "wires": [
            [
                "5757d2e97468749c"
            ]
        ]
    },
    {
        "id": "5757d2e97468749c",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 840,
        "wires": [
            [
                "78cff2467606a646"
            ]
        ]
    },
    {
        "id": "78cff2467606a646",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 560,
        "y": 880,
        "wires": [
            [
                "697f6b963188d811"
            ]
        ]
    },
    {
        "id": "697f6b963188d811",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 920,
        "wires": [
            [
                "56bd50ab3eff3b3b"
            ]
        ]
    },
    {
        "id": "56bd50ab3eff3b3b",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 560,
        "y": 960,
        "wires": [
            [
                "b56ecd1514939903"
            ]
        ]
    },
    {
        "id": "b56ecd1514939903",
        "type": "delay",
        "z": "88c60b2a21ce80f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 1000,
        "wires": [
            [
                "a8bcebdd9ca3ed50"
            ]
        ]
    },
    {
        "id": "a8bcebdd9ca3ed50",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 560,
        "y": 1040,
        "wires": [
            [
                "10c9e0f7308a21f4"
            ]
        ]
    },
    {
        "id": "c9e19f0ef07a49ac",
        "type": "write-gpio",
        "z": "88c60b2a21ce80f4",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 560,
        "y": 640,
        "wires": [
            [
                "38f537a1b0612874"
            ]
        ]
    },
    {
        "id": "10c9e0f7308a21f4",
        "type": "ros2-service-call",
        "z": "88c60b2a21ce80f4",
        "server": "70cd061dbb6946e5",
        "x": 880,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b56798a36a6b5cd5",
        "type": "ui_led",
        "z": "9e8af07eb679d708",
        "order": 1,
        "group": "9ec22e3e32d6c2fb",
        "width": "6",
        "height": "6",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "0973e954610d27c4",
        "type": "change",
        "z": "9e8af07eb679d708",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "b56798a36a6b5cd5",
                "b2effafd0c4ddedd"
            ]
        ]
    },
    {
        "id": "9c53d26532fc6fdc",
        "type": "ros2-subscribe",
        "z": "9e8af07eb679d708",
        "server": "70cd061dbb6946e5",
        "topicname": "",
        "messagetype": "",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "0973e954610d27c4"
            ]
        ]
    },
    {
        "id": "b2effafd0c4ddedd",
        "type": "led",
        "z": "9e8af07eb679d708",
        "name": "",
        "color": "white",
        "x": 810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "75e481d708353524",
        "type": "ui_iframe",
        "z": "4ba87b53d42c5cd0",
        "group": "69acf823d2e62450",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "5",
        "url": "",
        "origin": "https://192.168.4.1:8080/stream/?topic=cam0",
        "scale": 100,
        "x": 690,
        "y": 300,
        "wires": [
            []
        ]
    }
]